.example-spacer {
  flex: 1 1 auto;
}

.Home{
  position: fixed;
  width: 100%;
}

mat-icon{
  color: black;
}

button .mat-icon:hover{
  color: #f27828;
}



mat-nav-list .mat-list-item:hover{
  background-color:  #f27828;
  color: white;
  mat-icon{
    color: white;
  }
}